body {
    width: 100%;
    margin: 0 auto;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    vertical-align: baseline;
    font-family: "Old English Text", Georgia, 'Times New Roman', Times, serif;
    /*background-color: rgba(128,128,128,0.25);*/
}
figure img {
    height: 100px;
    width: 100px;
}
.jumbotron {
    background-image: url("Images/bg10.png"); /* 6 8 12 wow*/
    background-size: 100% 100%; /* Image will stretch to cover entire content area */
    background-repeat: no-repeat;
    font-size: larger;
    color: white;
    /*border: 2px solid black;*/
}
li a img {
    height: 50px;
    width: 50px;
}
#button {
    margin-left: 46%;
    /*this setting was for #button a element
    margin-left: 52%; 
    margin-top: 20px;*/
}
#button a img {
    width: 150px;
    height: 50px;
}
/*this setting was for #button a element
#button a:hover {
    border-style: inset;
    color: rgb(51,122,183);
    background-color: white;
    border: 2px solid rgb(51,122,183);
}*/
form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
input, select {
    width: 100%;
    padding: 5px;
}
#post {
    width: 100%;
    padding: 10px;
}
#post:hover {
    text-transform: uppercase;
    font-weight: bolder;
}

@media screen and (max-width: 760px) {    /* for small screens<768px, jb screen ziada se ziada 767px ki ho tb */
    body {
        width: 100%;
        margin: 0 0;
    }
    li a img {
        width: 25px;
        height: 25px;
    }
    form {
        width: 100%;
    }
    #button {
        margin-left: 0 !important;
    }
    #button a img {
        height: 25px;
        width: 50px;
    }
}
@media screen and (min-width: 1000px) { /* for large screens, >1000px */
    body {
        width: 1000px;
        margin: 0 auto;
    }
}
